body{
    background-image: url(images/background.jpg);
    background-size: cover;
    user-select: none;
}

#roles_board_div{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
    background-color: rgba(83, 58, 58, 0.75);
    color: rgb(255, 255, 255);
    border: 10px solid rgb(174, 175, 92);
    box-shadow: 0 0 10px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}
#roles_big_label, #roles_small_label, #roles_big_value, #roles_small_value{
    margin: 20px 0;
}
#roles_big_label{
    text-align: left;
    padding-left: 50px;
}
#roles_small_label{
    text-align: left;
    padding-left: 30px;
}
#roles_big_value, #roles_small_value{
    text-align: right;
    width: 15%;
}
#roles_small_value{
    padding-right: 50px;
}
.role_label{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.role_coin_value{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


#tefuda_block_div{
    display: flex;
    justify-content: center;
}
.tefuda_div{
    margin: 0 30px;
}
.tefuda_img_div{
    position: relative;
    overflow: hidden;
}
.tefuda_img, .tefuda_img_back{
    width: 120px;
    visibility: hidden;
    backface-visibility: hidden;
}
.tefuda_img{
    position: relative;
    z-index: 0;
    transition: transform 0.5s;
}
.tefuda_img_back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backface-visibility: hidden;
    transition: all 0.5s;
}
.tefuda_btn{
    text-align: center;
    width: 100px;
    margin: 20px auto 0 auto;
    padding: 5px 0;
    border-radius: 5px;
    background-color: rgba(43, 43, 43, 0.8);
    color: rgb(255, 255, 255);
    cursor: pointer;
    visibility: hidden;
}

#btn_flip, #btn_retry{
    text-align: center;
    width: 180px;
    margin: 30px auto;
    padding: 5px 0;
    border-radius: 5px;
    background-color: rgba(43, 43, 43, 0.8);
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
    visibility: hidden;
}
#btn_retry{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}
#btn_flip:hover, #btn_retry:hover{
    background-color: rgba(20, 20, 20, 0.8);
}

#coin_table{
    margin: auto;
}
#bet_setting_p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}
#multiplier_label{
    color: rgb(255, 255, 255);
}
#select_multiplier{
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 18px;
}
.btn_bet_control{
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 0 20px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 200);
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
}
.btn_bet_control:hover{
    background-color: rgb(204, 204, 204);
}
.btn_bet_control span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#btn_enter{
    text-align: center;
    width: 180px;
    margin: 20px auto;
    padding: 5px 0;
    border-radius: 5px;
    background-color: rgba(161, 161, 161, 0.8);
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

#coinmenu_div{
    display: flex;
    justify-content: center;
}
.coinmenu_item_div{
    margin: 0 20px;
}
#coin_label, #bet_win_label{
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 0;
    color: rgb(255, 255, 255);
    width: 100px;
    background-color: rgb(68, 65, 61);
    border: 3px solid rgb(46, 46, 46);
    border-radius: 15px;
}
#coin_value, #bet_win_value{
    text-align: right;
    width: 150px;
    padding-right: 5px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 5px ridge rgb(119, 72, 27);
    border-radius: 10px;
}
#bet_label{
    color: rgb(204, 3, 194);
}

#role_str_center{
    display: block;
    position: absolute;
    top: 350px;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    font-size: 60px;
    white-space: nowrap;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: "UD デジタル 教科書体 N-B";
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.role_str_span{
    background: linear-gradient(rgb(255, 187, 0), rgb(255, 251, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}